@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&display=swap');


:root{
    --main-font: "Rouge Script", cursive;
    --border:1px solid rgb(147, 232, 147);
}

h1{
    font-family: var(--main-font);
    font-size: 8rem;
    color: #9ABF80;
}

p{
    font-family: var(--main-font);
    color: #E5E3D4;
    font-size: 3em;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background-color: #1C325B;
}

#dice-icon{
    margin-top: 1em;
    width: 10em;
    height: auto;
    margin-bottom: -5em;
    animation: hover 5s ease-in-out infinite;

}

@keyframes hover{
    0%{
        transform: translateY(0em);
    }

    50%{
        transform: translateY(1em);
    }

    100%{
        transform: translateY(0em);
    }
}

button{
    margin-top: 2em;
    width: 5em;
    height: 5em;
    border-radius: 50px;
    font-size: 1rem;
    border-style: none;
    background-color: #E5E3D4;
    color: #1C325B;
    font-weight: 900;
    transition: transform 150ms ease-out;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

button:active{
    transform: scale(0.9) rotate(360deg)
}


#dice-game-section{
    width: 80%;
    margin-top: -3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}


#player1, #player2{
    display: flex;
    flex-direction: column;
}

#player1 > img, #player2 > img{
    width: 9em;
    height: 9em;
    border: var(--border);
}





